/*
    Rodrick hates their life.
--------------------------- # # # # #

    This is the default theme: Absent!

    Feel free to edit the variables under `:root`
    to your liking.
*/


:root {
    --font-size     : 1em; /* Main text size */
    --title-size    : 36px; /* Page title font */

    --text-color    : #000; /* Main text color */
    --bg-color      : #ccc; /* Background color */
    --back-color    : #eee; /* Background color of main area */

    --font-main     : monospace; /* The font used for almost everything */
    --font-title    : serif; /* The font used for page titles */
    --text-indent   : 2em; /* The width of paragraph indents. Just put `0px` if you don't want any. */
}

html { scrollbar-color: #eee #222; }

::selection { background: #222222; color: #bbb; }
::-moz-selection { background: #222222; color: #bbb; }

::-webkit-scrollbar-track { background-color: #222; }
::-webkit-scrollbar-thumb { background-color: #eee; }

/*////////////////////////////////////////////////////////////////////////////*/
/* CSS that you *shouldn't* be messing with unless you know what you're doing */
body {
    background: var(--bg-color);
    font-size: var(--font-size);
}

#images {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

#pageTitle {
    text-align: center;
    font-size: 2em;
}

p { text-indent: var(--text-indent); }

#nav {
    background-color: var(--nav-color);
    color: var(--nav-txt-color);

    display: grid;
    grid-auto-flow: column;
    padding: 5px;
}

#nav a {
    text-align: center;
}

#changePost {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.changePost {
    justify-self: center;
    text-align: center;
    text-decoration: none;
}
.changePost:hover { text-decoration: underline; color: var(--nav-txt-color); }

#archivePage, #recentPosts {
    line-height: 1.3em;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
}
#archivePage a, #recentPosts a {
    color: var(--text-color);
    text-decoration: underline;
}
#archivePage a:hover, #recentPosts a:hover {
    color: var(--accent-color);
    text-decoration: line-through;
}

footer {
    text-align: center;
    font-size: .8em;
    opacity: .8;
    margin: 5px;
}

.main_content {
    background-color: var(--back-color);
    color: var(--text-color);
    font-family: var(--font-main);

    width: 80%;
    min-height: 100px;
    margin: 25px auto;

    padding: 10px;
}

#postTitle, #blogTitle {
    font-family: var(--font-title);
    font-size: var(--title-size);
    letter-spacing: 5px;

    line-height: 1.1;
}

.heading {
    text-align: center;
    line-height: .2;
}

.postcontent {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 20px;
}

.indexcontent {
    min-height: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.aboutcontent {
    min-height: 20px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.archive {
    min-height: 20px;
}

#aboutColumn {
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    /*border-style: dotted;*/
}
#aboutColumn img { width: 300px; }

#aboutName {
    margin-bottom: 5px;
}

.aboutcols {
    display: grid;
    grid-auto-flow: column;
}

#comic_desc {
    padding: 10px;
}
