/*
    Rodrick hates their life.
--------------------------- # # # # #

    This is the DeadJournals's site theme!

    Feel free to edit the variables under `:root`
    to your liking.
*/

/* The fonts used for this theme. Feel free to change theme. */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
    --accent-color  : black;

    --text-color    : #000; /* Main text color */
    --back-image    : url('../images/mushrooms.jpg'); /* Body background image */
    --back-overlay  : url('../images/dot.png'); /* Background image overlay image.
        If you want there to be no overlay, then set this image to '../images/trans.png'.
    */
    --back-color    : #ffffff; /* Background color of main area */
    --color-back    : #000; /* #decfe9 */

    --nav-color     : #32174d00; /* Navigation background color */
    --nav-txt-color : yellow; /* Navigation text color */
    --nav-btn-color : #000;

    --border-color  : #222; /* Color of border */
    --border-style  : none; /* The style of the border */
    --border-width  : 10px; /* The border's width */

    --font-main     : 'IM Fell English', serif; /* The font used for almost everything */
    --font-title    : 'Playball', serif; /* The font used for page titles */
    --text-indent   : 2em; /* The width of paragraph indents. Just put `0px` if you don't want any. */
}

html { scrollbar-color: #eee #222; }

::selection { background: #000; color: #bbb; }
::-moz-selection { background: #000; color: #bbb; }

::-webkit-scrollbar-track { background-color: #222; }
::-webkit-scrollbar-thumb { background-color: #eee; }

/*////////////////////////////////////////////////////////////////////////////*/
/* CSS that you *shouldn't* be messing with unless you know what you're doing */
body {
    background: var(--back-overlay), var(--back-image), black;
    background-size: cover;
}

/*p { text-indent: var(--text-indent); }*/

a { color: var(--accent-color); }
a:hover {
    color: yellow;
    text-decoration: line-through;
}

hr {
    border-style: dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: medium;

    color: var(--color-back);
}

code {
    background-color: black;
    padding: 5px;
    color: yellow;
}

#nav {
    background-color: var(--nav-color);
    color: var(--nav-txt-color);

    display: grid;
    grid-auto-flow: column;
    padding: 5px;
}

#nav a {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    /*font-family: cursive, sans-serif;*/
    background-color: #00000000;
    color: var(--nav-btn-color);
}
#nav a:hover {
    background-color: #00000000;
    color: var(--nav-txt-color);
}

#changePost {
    background-color: var(--nav-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.changePost {
    justify-self: center;
    text-align: center;
    color: var(--nav-txt-color);
    text-decoration: none;
}
.changePost:hover { text-decoration: underline; color: var(--nav-txt-color); }

#archivePage, #recentPosts {
    line-height: 1.3em;
    margin: 10px auto;
    text-align: center;
}
#archivePage a, #recentPosts a {
    color: #ccc;
    text-decoration: underline;
}
#archivePage a:hover, #recentPosts a:hover {
    color: yellow;
    text-decoration: line-through;
}

footer {
    text-align: center;
    font-size: 1em;
    opacity: 1;
    margin: 5px;
    color: var(--text-color);
    /*
    text-shadow:
		-1px -1px 0 #ddd,
		1px -1px 0 #ddd,
		-1px 1px 0 #ddd,
		1px 1px 0 #ddd;
        */
}

.main_content {
    background-color: var(--back-color);
    color: var(--text-color);
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-width: var(--border-width);
    font-family: var(--font-main);

    width: 80%;
    min-height: 100px;
    margin: 25px auto;

    border-radius: 50px;

    padding: 10px;
}

#postTitle, #blogTitle {
    font-family: var(--font-title);
    font-size: 3em;
    letter-spacing: 0px;

    line-height: 1.1;

    text-shadow:
		-1px -1px 0 yellow,
		1px -1px 0 yellow,
		2px 2px 0 yellow,
		1px 1px 0 yellow;

}

.heading {
    text-align: center;
    height: 3em;
}

.postcontent {
    /*
    border-style: dotted;
    background-color: var(--color-back);
    */
    font-size: 1.2em;
    min-height: 20px;
    color: #fff;

    background-color: #000000ee;

    padding: 20px;

    /*
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
        */
}

.postcontent a {
    color: #ccc;
}
.postcontent a:hover { color: yellow; }
.postcontent h3 { color: #ccc; }

#examplesPage {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
}

.examples {
    margin: 5px auto;
    width: 90%;
}

.expics {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    overflow: auto;
    width: 100%;
    margin: 10px;
}

.expicss {
    width: 100%;
}
